@tailwind base;
@tailwind components;
@tailwind utilities;


.dark ::-webkit-scrollbar-thumb {
  background-color: rgba(180, 180, 180, 0.35);
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(180, 180, 180, 0.55);
}

.dark {
  scrollbar-color: rgba(180, 180, 180, 0.45) transparent;
}


/* ===== Thin Scrollbar ===== */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(120, 120, 120, 0.4);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(120, 120, 120, 0.6);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(120, 120, 120, 0.5) transparent;
}
